{% extends 'home/base.html' %}

{% block title %}
<title>amazingTable-index</title>
{% endblock %}

{% block content %}
{{ time }}

<div id="mygrid">
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function () {
            $("#jqGrid").jqGrid({
                alert("asd"),
                url: {% url "serializerModule" %},
                mtype: "GET",
                datatype: "json",
                colModel: [
                    { label: 'OrderID', name: 'OrderID', key: true, width: 75 },
                    { label: 'Customer ID', name: 'CustomerID', width: 150 },
                ],
    			viewrecords: true,
                width: 780,
                height: 250,
                rowNum: 20,
                pager: "#jqGridPager",
                alert("asd")
            });
});
</script>
{% endblock %}